@import "_palette";
@import "_variables";
@import "_mixin";

@at-root {
  @-ms-viewport {
    width: device-width;
  }
  // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body,
html {
  box-sizing: border-box;
  font-family: @font-family-main;
  font-size: @font-size-main;
  color: @grey-light;
  background-color: @white;
  font-weight: @normal;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  background: @white;
  flex-direction: column;
  padding-top: 80px;
}

*{
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}

aside,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
nav,
ol,
p,
section,
ul {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
}

a,
img,
input,
label {
  display: inline-flex;
}

ol,
ul {
  list-style: none;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:link {
  color: inherit;
}

.container{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.nav{
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .app-box-shadow();
  z-index: 5;
}

.content{
  z-index: 4;
  height:100%;
  .container{
    height: 100%;
  }

}
.aside{
  height: 100%;
  width: 25%;
  background-color: @blue-icons;
}
.msg-wrapper{
  width: 75%;
  height: 100%;
}