@import "_palette";

.app-transition(@property: all, @duration: 0.35s, @function: ease-in-out) {
  transition: @arguments;
}


//.app-border(@color:@red, @width:1px, @style:solid) {
//  border: @width @color @style;
//}

.app-box-shadow (@x: -2px, @y: 4px, @blur: 2px, @alpha: 0.15) {
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

