@white:#fafdff;
@gold:#d8b281;
@gold-hover:#ECCDA4;
@red:#d0414e;
@green:#32d4b0;
@blue-bg:#e5f5fe;
@blue-contacts:#f2f8fb;
@blue-icons:#77a4cd;
@blue-font:#516689;
@grey-dark:#454d53;
@grey-light:#8c95a4;
@grey-border:#edf3f7;
@black-shadow:rgba(0,0,0,.15);

