<div class="msg-container">
    <div class="msg-board">
        <ul>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-error">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
            <li>
                <p>П’ятниця, 24 серпня 2017 року</p>
                <div>
                    <span>14:30</span>
                    <div class="msg-text msg-success">
                        <p>Добрий день! </p>
                        <p>28.08.2017 о 15:00 відбудеться зустріч.</p>
                        <span class="msg-error-label"></span>
                        <span class="msg-success-label"></span>
                    </div>
                </div>
            </li>
        
        </ul>
        <form class="msg-textarea">
            <textarea name="msg-textarea" id="msg-textarea" placeholder="Текст повідомлення
"></textarea>
            <input type="button" id="msg-send">
            <label for="msg-send"></label>
        </form>
    </div>
    <div class="msg-contacts-container">
        <div class="msg-contacts-header">
            <ul>
                <li><span class="msg-contacts-header-chat"></span></li>
                <li><span class="msg-contacts-header-private"></span></li>
                <li><span class="msg-contacts-header-support"></span></li>
                <li><span class="msg-contacts-header-history"></span></li>
            </ul>
        </div>
        <ul class="msg-contacts-list">
            <li class="msg-contacts-linked msg-contacts-active">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                        <!--<img src="https://muzei-mira.com/templates/museum/images/paint/portret-malchika-petrov-vodkin+.jpg" alt="">-->
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                        
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-linked">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                            зустріч.
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-closed">
                <div>
                    <div class="msg-contacts-img msg-img-support">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Технічний консультант
                        
                        </p>
                        <p>
                            <span>Микола:</span> Буде прийнято до уваги.
                        
                        </p>
                    </div>
                </div>
            </li> <li class="msg-contacts-linked msg-contacts-active">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                        <!--<img src="https://muzei-mira.com/templates/museum/images/paint/portret-malchika-petrov-vodkin+.jpg" alt="">-->
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                        
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-active">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                            зустріч.
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-closed">
                <div>
                    <div class="msg-contacts-img msg-img-support">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Технічний консультант
                        
                        </p>
                        <p>
                            <span>Микола:</span> Буде прийнято до уваги.
                        
                        </p>
                    </div>
                </div>
            </li> <li class="msg-contacts-linked msg-contacts-active">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                        <!--<img src="https://muzei-mira.com/templates/museum/images/paint/portret-malchika-petrov-vodkin+.jpg" alt="">-->
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                        
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-linked">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                            зустріч.
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-closed">
                <div>
                    <div class="msg-contacts-img msg-img-support">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Технічний консультант
                        
                        </p>
                        <p>
                            <span>Микола:</span> Буде прийнято до уваги.
                        
                        </p>
                    </div>
                </div>
            </li> <li class="msg-contacts-linked msg-contacts-active">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                        <!--<img src="https://muzei-mira.com/templates/museum/images/paint/portret-malchika-petrov-vodkin+.jpg" alt="">-->
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                        
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-linked">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                            зустріч.
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-closed">
                <div>
                    <div class="msg-contacts-img msg-img-support">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Технічний консультант
                        
                        </p>
                        <p>
                            <span>Микола:</span> Буде прийнято до уваги.
                        
                        </p>
                    </div>
                </div>
            </li> <li class="msg-contacts-linked msg-contacts-active">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                        <!--<img src="https://muzei-mira.com/templates/museum/images/paint/portret-malchika-petrov-vodkin+.jpg" alt="">-->
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                        
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-linked">
                <div>
                    <div class="msg-contacts-img msg-img-user">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Іванов Іван Іванович
                        </p>
                        <p>
                            +38 (068) 000 00 00
                        
                        </p>
                        <p>
                            Добрий день! 28.08.2017 о 15:00 відбудеться
                            зустріч.
                        </p>
                    </div>
                </div>
            </li>
            <li class="msg-contacts-closed">
                <div>
                    <div class="msg-contacts-img msg-img-support">
                    </div>
                    <div class="msg-contacts-user">
                        <p>
                            Технічний консультант
                        
                        </p>
                        <p>
                            <span>Микола:</span> Буде прийнято до уваги.
                        
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>