.msg {

  &-container {
    width: 100%;
    height: 100%;

    flex-direction: row;
    > div {
      height: 100%;
      flex-direction: column;
      &:first-of-type {
        width: 67%;
      }
      &:last-of-type {
        width: 33%;
      }
    }
    ul {
      width: 100%;
      flex-direction: column;
      height: 100%;

      overflow: auto;
      &::-webkit-scrollbar {
        width: 6px;
      }
      //&::-webkit-scrollbar-track {
      //  -webkit-box-shadow: inset 6px 0 0 @grey-border;
      //}
      &::-webkit-scrollbar-thumb {
        background-color: @grey-light;
        outline: none;
      }
      li {
        flex-shrink: 0;
        width: 100%;
      }
    }
  }
  &-board {
    position: relative;
    padding: 50px 0 150px 50px;

background-color: @blue-bg;
    ul{
      padding-right: 50px;
    }
    li {
      flex-direction: column;
      font-weight: @semibold;

      > p {
        justify-content: flex-end;
        margin: 1em 0;
      }
      > div {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }

  }
  &-text {
    position: relative;
    flex-direction: column;
    width: 60%;
    min-height: 5em;
    border-radius: 1em;
    margin-left: 1em;
    padding: 1em;
    color: @white;

  }
  &-success-label,&-error-label{
    position: absolute;
    top:.5em;
    right: .5em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  &-success{
    background-color: @green;
    &-label{
     background-image: url("../img/send-icon.png");
    }
    .msg-error-label{
      display: none;
    }
  }
  &-error{
    background-color: @red;
    &-label{
      background-image: url("../img/error-icon.png");
    }
    .msg-success-label{
      display: none;
    }
  }
  &-textarea {
    position: absolute;
    left: 50px;
    bottom: 25px;
    width: ~"calc(100% - 100px)";
    height: 100px;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: none;
      outline: none;
      padding: .75em;
      padding-right: 5em;

      &::-webkit-input-placeholder {
        color: @grey-light;
      }

      &:-moz-placeholder {
        color: @grey-light;
      }

      &::-moz-placeholder {
        color: @grey-light;
      }

      &:-ms-input-placeholder {
        color: @grey-light;
      }

      &::placeholder {
        color: @grey-light;
      }
    }
    input[type = "button"] {
      display: none;
    }
    label {
      height: 54px;
      width: 54px;
      border-radius: 50%;
      background: @gold url("../img/send-msg-icon-white.png") no-repeat 55% 50%;
      background-size: 45% auto;
      position: absolute;
      top: 23px;
      right: 23px;
      .app-transition();
      &:hover {
        background-color: @gold-hover;
      }
    }

  }
  &-contacts {
    &-container {
      .app-box-shadow();
      position: relative;
      padding-top: 150px;
      background-color: @white;
    }
    &-header {
      height: 150px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      justify-content: center;
      ul {
        flex-direction: row;
        width: auto;
        align-items: center;
        justify-content: center;
        li {
          width: auto;
          height: auto;
          align-items: center;
          border: solid @white;
          border-width: 0 1px;
          &:first-of-type {
            border-left: none;
          }
          &:last-of-type {
            border-right: none;
          }
        }
      }
      span {
        height: 60px;
        width: 100px;
        background-color: @gold;
        background-repeat: no-repeat;
        background-position-x: 50%;
        cursor: pointer;
        .app-transition();
        &:hover {
          background-color: @gold-hover;
        }
      }
      &-chat {
        background-image: url("../img/message-icon-white.png");
        background-position-y: 50%;
      }
      &-private {
        background-image: url("../img/private-chat-icon-white.png");
        background-position-y: 50%;
      }
      &-support {
        background-image: url("../img/support-icon-white.png");
        background-position-y: 50%;
      }
      &-history {
        background-image: url("../img/history-icon-white.png");
        background-position-y: 60%;
      }
    }
    &-list {
      li {
        height: 100px;
        overflow: hidden;
        padding-left: 3em;
        > div {
          border-top: 1px solid @grey-border;
          width: 100%;
          flex-direction: row;
          align-items: center;
        }
        &:last-of-type {
          > div {
            border-bottom: 1px solid @grey-border;
          }
        }
      }
    }
    &-img {
      height: 75px;
      width: 75px;
      border-radius: 50%;
      position: relative;
      left: -1em;
      background-color: @blue-icons;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      background-size: auto 90%;
      align-self: center;
      flex-shrink: 0;
      overflow: hidden;
      &.msg-img-user {
        background-image: url("../img/user-icon-grey.png");
      }
      &.msg-img-support {
        background-image: url("../img/support-icon-grey.png");
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: block;
      }
    }
    &-user {
      flex-direction: column;
      padding: .25em 1.5em;
      font-weight: @semibold;
      color: @grey-dark;
      line-height: 1.2;
      align-content: center;
      p {
        &:last-of-type {
          margin-top: .5em;
          font-size: @font-size-optional;
          font-weight: normal;
          color: @grey-light;
        }
        span {
          font-weight: @semibold;
          color: @blue-font;
          padding-right: .5em;
        }
      }
    }
    &-active {
      background-color: @blue-contacts;
    }
    &-closed {
      background: url("../img/private-chat-icon-blue.png") no-repeat 98% 50%;
      background-size: auto 25px;
    }
    &-linked {
      position: relative;
      &:after {
        content: '';
        height: 1em;
        width: 1em;
        border-radius: 50%;
        background: @gold;
        position: absolute;
        top: 1em;
        left: 1em;
      }
    }
  }

}